<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>COPY_CHAR</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>930.52207915016106</real>
					<key>controlPoint1Y</key>
					<real>237.91015625</real>
					<key>controlPoint2X</key>
					<real>1020.2474520998389</real>
					<key>controlPoint2Y</key>
					<real>236.23046875</real>
					<key>dstPointX</key>
					<real>1065</real>
					<key>dstPointY</key>
					<real>236.23046875</real>
					<key>srcPointX</key>
					<real>885.76953125</real>
					<key>srcPointY</key>
					<real>237.91015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>96</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>44</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>274</real>
			<key>x</key>
			<real>755.23046875</real>
			<key>y</key>
			<real>236</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FAILED_TO_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>127</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>66</real>
			<key>onExitHeight</key>
			<real>11</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>306</real>
			<key>x</key>
			<real>763</real>
			<key>y</key>
			<real>112.26953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FILES_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>353.68938949991571</real>
					<key>controlPoint1Y</key>
					<real>319.99863403411678</real>
					<key>controlPoint2X</key>
					<real>220.94076130187685</real>
					<key>controlPoint2Y</key>
					<real>320.84733775964912</real>
					<key>dstPointX</key>
					<real>263.7265625</real>
					<key>dstPointY</key>
					<real>328</real>
					<key>srcPointX</key>
					<real>363.0707881150143</real>
					<key>srcPointY</key>
					<real>302.82795601710609</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>434.97317113779212</real>
					<key>controlPoint1Y</key>
					<real>260.5</real>
					<key>controlPoint2X</key>
					<real>568.54377103048932</real>
					<key>controlPoint2Y</key>
					<real>264.61617685785154</real>
					<key>dstPointX</key>
					<real>622.84851292903363</real>
					<key>dstPointY</key>
					<real>259.77567706966198</real>
					<key>srcPointX</key>
					<real>380.453125</real>
					<key>srcPointY</key>
					<real>260.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>88</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>36</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>239</real>
			<key>x</key>
			<real>266.046875</real>
			<key>y</key>
			<real>265</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INCREMENT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1043.398645771058</real>
					<key>controlPoint1Y</key>
					<real>248.2890625</real>
					<key>controlPoint2X</key>
					<real>1010.59375</real>
					<key>controlPoint2Y</key>
					<real>293.172083271058</real>
					<key>dstPointX</key>
					<real>1010.59375</real>
					<key>dstPointY</key>
					<real>314.7734375</real>
					<key>srcPointX</key>
					<real>1065</real>
					<key>srcPointY</key>
					<real>248.2890625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1020.2432659143919</real>
					<key>controlPoint1Y</key>
					<real>217.92578125</real>
					<key>controlPoint2X</key>
					<real>930.52626533560806</real>
					<key>controlPoint2Y</key>
					<real>220.80078125</real>
					<key>dstPointX</key>
					<real>885.76953125</real>
					<key>dstPointY</key>
					<real>220.80078125</real>
					<key>srcPointX</key>
					<real>1065</real>
					<key>srcPointY</key>
					<real>217.92578125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1189.38671875</real>
					<key>controlPoint1Y</key>
					<real>509.01171875</real>
					<key>controlPoint2X</key>
					<real>948.4921875</real>
					<key>controlPoint2Y</key>
					<real>501.578125</real>
					<key>dstPointX</key>
					<real>597.46162275359609</real>
					<key>dstPointY</key>
					<real>481.21908459112217</real>
					<key>srcPointX</key>
					<real>1133.44140625</real>
					<key>srcPointY</key>
					<real>268.23046875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>88</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>1127.5</real>
			<key>y</key>
			<real>229.76953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>582.87577156799045</real>
					<key>controlPoint1Y</key>
					<real>232.45262059518814</real>
					<key>controlPoint2X</key>
					<real>331.953125</real>
					<key>controlPoint2Y</key>
					<real>173.74196556935919</real>
					<key>dstPointX</key>
					<real>331.953125</real>
					<key>dstPointY</key>
					<real>226</real>
					<key>srcPointX</key>
					<real>556.92990519342925</real>
					<key>srcPointY</key>
					<real>187.09058602190808</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>587</real>
					<key>controlPoint1Y</key>
					<real>120.72979736328125</real>
					<key>controlPoint2X</key>
					<real>595</real>
					<key>controlPoint2Y</key>
					<real>121.31640625</real>
					<key>dstPointX</key>
					<real>615</real>
					<key>dstPointY</key>
					<real>121.31640625</real>
					<key>srcPointX</key>
					<real>567</real>
					<key>srcPointY</key>
					<real>120.72979736328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>86</real>
			<key>onExitHeight</key>
			<real>14</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>397</real>
			<key>x</key>
			<real>374.5</real>
			<key>y</key>
			<real>122.27020263671875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.5</real>
					<key>controlPoint1Y</key>
					<real>74.72979736328125</real>
					<key>controlPoint2X</key>
					<real>173.51898585729126</real>
					<key>controlPoint2Y</key>
					<real>104.64424546791673</real>
					<key>dstPointX</key>
					<real>181</real>
					<key>dstPointY</key>
					<real>74</real>
					<key>srcPointX</key>
					<real>152.5</real>
					<key>srcPointY</key>
					<real>74.72979736328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>152.5</real>
			<key>y</key>
			<real>74.27020263671875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OUTPUT_BLOCK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>595.4942811799931</real>
					<key>controlPoint1Y</key>
					<real>299.18784224768564</real>
					<key>controlPoint2X</key>
					<real>448.7770215701895</real>
					<key>controlPoint2Y</key>
					<real>304.8247295326376</real>
					<key>dstPointX</key>
					<real>379.86915660575687</real>
					<key>dstPointY</key>
					<real>287.79767825976791</real>
					<key>srcPointX</key>
					<real>660.81989472759903</real>
					<key>srcPointY</key>
					<real>326.95074093702016</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>153</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>89</real>
			<key>onExitHeight</key>
			<real>14</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>382</real>
			<key>x</key>
			<real>844.7734375</real>
			<key>y</key>
			<real>386.7265625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OUTPUT_TAIL</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>178</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>126</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>460</real>
			<key>x</key>
			<real>373.546875</real>
			<key>y</key>
			<real>412</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
