<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>x</key>
			<real>470.5</real>
			<key>y</key>
			<real>169.72857666015625</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>x</key>
			<real>650.0</real>
			<key>y</key>
			<real>170.22857666015625</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>COMMS_READY</key>
		<dict>
			<key>x</key>
			<real>860.0</real>
			<key>y</key>
			<real>269.77142333984375</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>CHANNEL_CREATED</key>
		<dict>
			<key>x</key>
			<real>859.7713623046875</real>
			<key>y</key>
			<real>380.4571533203125</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>ARM_KICKED_US</key>
		<dict>
			<key>x</key>
			<real>949.728515625</real>
			<key>y</key>
			<real>520.5</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>PAYLOAD_RECEIVED</key>
		<dict>
			<key>x</key>
			<real>990.0</real>
			<key>y</key>
			<real>669.7285766601562</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>SEND_TO_OTHER_PRU</key>
		<dict>
			<key>x</key>
			<real>429.771484375</real>
			<key>y</key>
			<real>580.5</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>