<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>COPY_CHAR</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1067.5254805367201</real>
					<key>controlPoint1Y</key>
					<real>227.84796142578125</real>
					<key>controlPoint2X</key>
					<real>1007.4745194632799</real>
					<key>controlPoint2Y</key>
					<real>236.23046875</real>
					<key>dstPointX</key>
					<real>1065</real>
					<key>dstPointY</key>
					<real>236.23046875</real>
					<key>srcPointX</key>
					<real>1010</real>
					<key>srcPointY</key>
					<real>227.84796142578125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>88</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>37</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>172</real>
			<key>x</key>
			<real>930.231689453125</real>
			<key>y</key>
			<real>217</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FAILED_TO_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>127</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>66</real>
			<key>onExitHeight</key>
			<real>12</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>306</real>
			<key>x</key>
			<real>1047</real>
			<key>y</key>
			<real>103.70352172851562</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FILES_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>879.18834332910535</real>
					<key>controlPoint1Y</key>
					<real>161.69053840811429</real>
					<key>controlPoint2X</key>
					<real>864.47212688821537</real>
					<key>controlPoint2Y</key>
					<real>179.53928947274508</real>
					<key>dstPointX</key>
					<real>861.97241029264808</real>
					<key>dstPointY</key>
					<real>179.27533757566985</real>
					<key>srcPointX</key>
					<real>877.57944838540516</real>
					<key>srcPointY</key>
					<real>158.30694254266376</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>829.1229248046875</real>
					<key>controlPoint1Y</key>
					<real>182</real>
					<key>controlPoint2X</key>
					<real>282.5</real>
					<key>controlPoint2Y</key>
					<real>333</real>
					<key>dstPointX</key>
					<real>282.5</real>
					<key>dstPointY</key>
					<real>353</real>
					<key>srcPointX</key>
					<real>829.1229248046875</real>
					<key>srcPointY</key>
					<real>162</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>88</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>36</real>
			<key>onExitHeight</key>
			<real>3</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>125</real>
			<key>x</key>
			<real>829.5</real>
			<key>y</key>
			<real>124.27134704589844</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INCREMENT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1032.6165481698056</real>
					<key>controlPoint1Y</key>
					<real>257.7935413641523</real>
					<key>controlPoint2X</key>
					<real>929.67626953125</real>
					<key>controlPoint2Y</key>
					<real>254.70891746175852</real>
					<key>dstPointX</key>
					<real>929.67626953125</real>
					<key>dstPointY</key>
					<real>287.77145385742188</real>
					<key>srcPointX</key>
					<real>1065.3406313645048</real>
					<key>srcPointY</key>
					<real>251.67548974338229</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1007.3893244165573</real>
					<key>controlPoint1Y</key>
					<real>215.4923095703125</real>
					<key>controlPoint2X</key>
					<real>1067.6106755834426</real>
					<key>controlPoint2Y</key>
					<real>214.76953125</real>
					<key>dstPointX</key>
					<real>1010</real>
					<key>dstPointY</key>
					<real>214.76953125</real>
					<key>srcPointX</key>
					<real>1065</real>
					<key>srcPointY</key>
					<real>215.4923095703125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1135.34423828125</real>
					<key>controlPoint1Y</key>
					<real>439.385009765625</real>
					<key>controlPoint2X</key>
					<real>1155.59375</real>
					<key>controlPoint2Y</key>
					<real>478.9305419921875</real>
					<key>dstPointX</key>
					<real>598</real>
					<key>dstPointY</key>
					<real>459.13665771484375</real>
					<key>srcPointX</key>
					<real>1144.940185546875</real>
					<key>srcPointY</key>
					<real>268</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>88</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>135</real>
			<key>x</key>
			<real>1127.5</real>
			<key>y</key>
			<real>229.76953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>583.04202303990996</real>
					<key>controlPoint1Y</key>
					<real>123.65519425304025</real>
					<key>controlPoint2X</key>
					<real>757.41749072177493</real>
					<key>controlPoint2Y</key>
					<real>123.11970931641605</real>
					<key>dstPointX</key>
					<real>772</real>
					<key>dstPointY</key>
					<real>119.27020263671875</real>
					<key>srcPointX</key>
					<real>567</real>
					<key>srcPointY</key>
					<real>127</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>650.0017979780223</real>
					<key>controlPoint1Y</key>
					<real>72.884872436523438</real>
					<key>controlPoint2X</key>
					<real>815.9982020219777</real>
					<key>controlPoint2Y</key>
					<real>70.6995849609375</real>
					<key>dstPointX</key>
					<real>899</real>
					<key>dstPointY</key>
					<real>70.6995849609375</real>
					<key>srcPointX</key>
					<real>567</real>
					<key>srcPointY</key>
					<real>72.884872436523438</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>71</real>
			<key>onExitHeight</key>
			<real>30</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>397</real>
			<key>x</key>
			<real>374.5</real>
			<key>y</key>
			<real>122.27020263671875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.5</real>
					<key>controlPoint1Y</key>
					<real>74.72979736328125</real>
					<key>controlPoint2X</key>
					<real>173.51898585729126</real>
					<key>controlPoint2Y</key>
					<real>104.64424546791673</real>
					<key>dstPointX</key>
					<real>181</real>
					<key>dstPointY</key>
					<real>74</real>
					<key>srcPointX</key>
					<real>152.5</real>
					<key>srcPointY</key>
					<real>74.72979736328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>152.5</real>
			<key>y</key>
			<real>74.27020263671875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OUTPUT_BLOCK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>573.16413371514773</real>
					<key>controlPoint1Y</key>
					<real>331.71172080833406</real>
					<key>controlPoint2X</key>
					<real>964.37310038442911</real>
					<key>controlPoint2Y</key>
					<real>145.8516377445593</real>
					<key>dstPointX</key>
					<real>885.73027546899164</real>
					<key>dstPointY</key>
					<real>145.27356532204658</real>
					<key>srcPointX</key>
					<real>648.19836800118014</real>
					<key>srcPointY</key>
					<real>304.96158372104316</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>120</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>69</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>422</real>
			<key>x</key>
			<real>854</real>
			<key>y</key>
			<real>343.2401123046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OUTPUT_TAIL</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>160</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>107</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>460</real>
			<key>x</key>
			<real>374</real>
			<key>y</key>
			<real>428</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
