<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>INITIAL</key>
		<dict>
			<key>x</key>
			<real>130.0</real>
			<key>y</key>
			<real>80.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>COMMS_READY</key>
		<dict>
			<key>x</key>
			<real>540.0</real>
			<key>y</key>
			<real>90.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>CHANNEL_CREATED</key>
		<dict>
			<key>x</key>
			<real>480.0</real>
			<key>y</key>
			<real>210.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>CHECK_IRQ_FROM_PRU0</key>
		<dict>
			<key>x</key>
			<real>440.0</real>
			<key>y</key>
			<real>310.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>RECEIVED_FROM_PRU0</key>
		<dict>
			<key>x</key>
			<real>280.0</real>
			<key>y</key>
			<real>380.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
		<key>SEND_TO_ARM</key>
		<dict>
			<key>x</key>
			<real>140.0</real>
			<key>y</key>
			<real>240.0</real>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<integer>50</integer>
			<key>w</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>