<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BLOCK_READ</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>689.18349122495874</real>
					<key>controlPoint1Y</key>
					<real>399.5893508531384</real>
					<key>controlPoint2X</key>
					<real>663.09902884093117</real>
					<key>controlPoint2Y</key>
					<real>426.45842292150553</real>
					<key>dstPointX</key>
					<real>661.75</real>
					<key>dstPointY</key>
					<real>451</real>
					<key>srcPointX</key>
					<real>689.0479736328125</real>
					<key>srcPointY</key>
					<real>374</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>493.89970642991875</real>
					<key>controlPoint1Y</key>
					<real>381.43596851605133</real>
					<key>controlPoint2X</key>
					<real>387.18914794921875</real>
					<key>controlPoint2Y</key>
					<real>407.50742153767328</real>
					<key>dstPointX</key>
					<real>387.18914794921875</real>
					<key>dstPointY</key>
					<real>430.5</real>
					<key>srcPointX</key>
					<real>511.60185699302212</real>
					<key>srcPointY</key>
					<real>366.7631184252383</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>112</real>
			<key>internalHeight</key>
			<real>7</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>7</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>319.5</real>
			<key>x</key>
			<real>661.75</real>
			<key>y</key>
			<real>324.0565185546875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CLOSE_FILES</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>110.5</real>
			<key>internalHeight</key>
			<real>6.5</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>6</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>689.0479736328125</real>
			<key>y</key>
			<real>501.25</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FAILED_TO_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>131.5</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>65</real>
			<key>onExitHeight</key>
			<real>17.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>305.5</real>
			<key>x</key>
			<real>656.25</real>
			<key>y</key>
			<real>183.47686767578125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FILES_OPEN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>397.12505717006889</real>
					<key>controlPoint1Y</key>
					<real>341.25885009765625</real>
					<key>controlPoint2X</key>
					<real>470.37494282993111</real>
					<key>controlPoint2Y</key>
					<real>341</real>
					<key>dstPointX</key>
					<real>507</real>
					<key>dstPointY</key>
					<real>341</real>
					<key>srcPointX</key>
					<real>360.5</real>
					<key>srcPointY</key>
					<real>341.25885009765625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>114</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>14</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>216.72601318359375</real>
			<key>y</key>
			<real>341</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>207.58230048108612</real>
					<key>controlPoint1Y</key>
					<real>269.81709134105381</real>
					<key>controlPoint2X</key>
					<real>280.77003995868381</real>
					<key>controlPoint2Y</key>
					<real>271.40315893498678</real>
					<key>dstPointX</key>
					<real>280</real>
					<key>dstPointY</key>
					<real>289</real>
					<key>srcPointX</key>
					<real>216.72601318359375</real>
					<key>srcPointY</key>
					<real>252.5</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>467.64425455960958</real>
					<key>controlPoint1Y</key>
					<real>186.39954363162957</real>
					<key>controlPoint2X</key>
					<real>487.85476520590635</real>
					<key>controlPoint2Y</key>
					<real>184.2983605925196</real>
					<key>dstPointX</key>
					<real>508.5</real>
					<key>dstPointY</key>
					<real>187.27401733398438</real>
					<key>srcPointX</key>
					<real>446</real>
					<key>srcPointY</key>
					<real>183.47686767578125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>142</real>
			<key>internalHeight</key>
			<real>5</real>
			<key>onEntryHeight</key>
			<real>91</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>344</real>
			<key>x</key>
			<real>280</real>
			<key>y</key>
			<real>187.27401733398438</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>65.231842041015625</real>
					<key>controlPoint1Y</key>
					<real>134.25</real>
					<key>controlPoint2X</key>
					<real>113.11347916053174</real>
					<key>controlPoint2Y</key>
					<real>139.37249232636063</real>
					<key>dstPointX</key>
					<real>113.11347916053174</real>
					<key>dstPointY</key>
					<real>139.37249232636063</real>
					<key>srcPointX</key>
					<real>65.231842041015625</real>
					<key>srcPointY</key>
					<real>134.25</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>65</real>
			<key>y</key>
			<real>133.77401733398438</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>OUTPUT_DATA</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>482.1426229197852</real>
					<key>controlPoint1Y</key>
					<real>497.67200425926922</real>
					<key>controlPoint2X</key>
					<real>516.40535071302725</real>
					<key>controlPoint2Y</key>
					<real>500.27508977686955</real>
					<key>dstPointX</key>
					<real>544</real>
					<key>dstPointY</key>
					<real>496.5</real>
					<key>srcPointX</key>
					<real>453.5</real>
					<key>srcPointY</key>
					<real>501.25</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>125.19299375018173</real>
					<key>controlPoint1Y</key>
					<real>503.5628662109375</real>
					<key>controlPoint2X</key>
					<real>111.122802734375</real>
					<key>controlPoint2Y</key>
					<real>431.3070062498183</real>
					<key>dstPointX</key>
					<real>111.122802734375</real>
					<key>dstPointY</key>
					<real>392</real>
					<key>srcPointX</key>
					<real>164.5</real>
					<key>srcPointY</key>
					<real>503.5628662109375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>142</real>
			<key>internalHeight</key>
			<real>35.5</real>
			<key>onEntryHeight</key>
			<real>38</real>
			<key>onExitHeight</key>
			<real>21.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>309.5</real>
			<key>y</key>
			<real>496.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
