<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ARM_KICKED_US</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1022.4246215820312</real>
					<key>controlPoint1Y</key>
					<real>409.63422228455147</real>
					<key>controlPoint2X</key>
					<real>1335.3446655273438</real>
					<key>controlPoint2Y</key>
					<real>278.89183972716734</real>
					<key>dstPointX</key>
					<real>1335.3446655273438</real>
					<key>dstPointY</key>
					<real>360.7666015625</real>
					<key>srcPointX</key>
					<real>1022.4246215820312</real>
					<key>srcPointY</key>
					<real>327.75946044921875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>943.96659849729076</real>
					<key>controlPoint1Y</key>
					<real>265.85836791992188</real>
					<key>controlPoint2X</key>
					<real>814.93226709828093</real>
					<key>controlPoint2Y</key>
					<real>233.99525803850918</real>
					<key>dstPointX</key>
					<real>789.42136996048794</real>
					<key>dstPointY</key>
					<real>258.1312260356089</real>
					<key>srcPointX</key>
					<real>979.085693359375</real>
					<key>srcPointY</key>
					<real>265.85836791992188</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>107</real>
			<key>internalHeight</key>
			<real>5</real>
			<key>onEntryHeight</key>
			<real>53</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>391</real>
			<key>x</key>
			<real>1169.7285766601562</real>
			<key>y</key>
			<real>282.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CHANNEL_CREATED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>837.51764024470799</real>
					<key>controlPoint1Y</key>
					<real>273.49479927939115</real>
					<key>controlPoint2X</key>
					<real>962.92518873352901</real>
					<key>controlPoint2Y</key>
					<real>296.6884606077449</real>
					<key>dstPointX</key>
					<real>979.61126875606942</real>
					<key>dstPointY</key>
					<real>312.31432448343162</real>
					<key>srcPointX</key>
					<real>815.32762767613565</real>
					<key>srcPointY</key>
					<real>274.64920798724609</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>62</real>
			<key>internalHeight</key>
			<real>50</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>50</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>202</real>
			<key>x</key>
			<real>718.7713623046875</real>
			<key>y</key>
			<real>276.4571533203125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>COMMS_READY</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>798.66485447651917</real>
					<key>controlPoint1Y</key>
					<real>159.35842895507812</real>
					<key>controlPoint2X</key>
					<real>668.79331850795688</real>
					<key>controlPoint2Y</key>
					<real>209.94858296000609</real>
					<key>dstPointX</key>
					<real>684.99579770224466</real>
					<key>dstPointY</key>
					<real>251.75686750486932</real>
					<key>srcPointX</key>
					<real>843.5029296875</real>
					<key>srcPointY</key>
					<real>159.35842895507812</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>154</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>103</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>1092</real>
			<key>y</key>
			<real>147.77142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>596.25011584468064</real>
					<key>controlPoint1Y</key>
					<real>143.82418823242188</real>
					<key>controlPoint2X</key>
					<real>796.25281384281936</real>
					<key>controlPoint2Y</key>
					<real>144.15701293945312</real>
					<key>dstPointX</key>
					<real>843.5029296875</real>
					<key>dstPointY</key>
					<real>144.15701293945312</real>
					<key>srcPointX</key>
					<real>549</real>
					<key>srcPointY</key>
					<real>143.82418823242188</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>280</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>229</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>550</real>
			<key>x</key>
			<real>320</real>
			<key>y</key>
			<real>224.22857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>142.919677734375</real>
					<key>controlPoint1Y</key>
					<real>57.187286376953125</real>
					<key>controlPoint2X</key>
					<real>108.265380859375</real>
					<key>controlPoint2Y</key>
					<real>69</real>
					<key>dstPointX</key>
					<real>108.265380859375</real>
					<key>dstPointY</key>
					<real>88.5428466796875</real>
					<key>srcPointX</key>
					<real>142.919677734375</real>
					<key>srcPointY</key>
					<real>57.187286376953125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>142.5</real>
			<key>y</key>
			<real>57.72857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>PAYLOAD_RECEIVED</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>991.00299072265625</real>
					<key>controlPoint1Y</key>
					<real>568.65813951942641</real>
					<key>controlPoint2X</key>
					<real>768.02560557363688</real>
					<key>controlPoint2Y</key>
					<real>556.98243787515503</real>
					<key>dstPointX</key>
					<real>693.47821955354664</real>
					<key>dstPointY</key>
					<real>548.36673865620708</real>
					<key>srcPointX</key>
					<real>991.00299072265625</real>
					<key>srcPointY</key>
					<real>493</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>143</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>92</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>658</real>
			<key>x</key>
			<real>1078</real>
			<key>y</key>
			<real>427.72857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SEND_TO_OTHER_PRU</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>702.60205200970904</real>
					<key>controlPoint1Y</key>
					<real>398.21122846031835</real>
					<key>controlPoint2X</key>
					<real>596.35486013546335</real>
					<key>controlPoint2Y</key>
					<real>315.05701170562838</real>
					<key>dstPointX</key>
					<real>637.52862613530033</real>
					<key>dstPointY</key>
					<real>289.65254718384614</real>
					<key>srcPointX</key>
					<real>689.06183255788301</real>
					<key>srcPointY</key>
					<real>385.84853691922046</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>199</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>126</real>
			<key>onExitHeight</key>
			<real>24</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>454</real>
			<key>x</key>
			<real>471.771484375</real>
			<key>y</key>
			<real>472.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
